body, html {
	margin: 0;
	padding: 0;
}

* {
	font-family: sans-serif;
	text-transform: uppercase;
}

button {
	border: none;
	border-radius: 10px;
	box-shadow: 0 0px 0px gray;
	transition: all 0.3s;
}

button:hover {
	box-shadow: 0 4px 5px gray;
}

input[type=text],
button:focus,
button:active {
	outline: none;
}

input[type=text] {
	margin-bottom: 10px;
	width: 100%;
	border: solid 2px whitesmoke;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
}

.movies--container,
.booking--details {
	max-width: 420px;
	margin: 0 auto;
}

.movies--container h1 {
	margin: 0;
	text-align: center;
	margin-bottom: 10px;
}

.movies--container .movies {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.movies--container .movies .movie {
	cursor: pointer;
	height: 30px;
	margin: 6px;
}

.movies--container .movies .movie:first-child,
.movies--container .movies .movie:last-child {
	margin: 6px 0;
}

.booking,
.booking .actions {
	max-width: 450px;
	margin: 0 auto;
}

.booking .actions .time {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.booking .actions .time button {
	cursor: pointer;
	flex-basis: 30%;
}

.booking .actions .time button:last-child {
	margin-left: 10px;
}

.booking .actions .time p {
	width: 100px;
	font-weight: 500;
}

.booking--details {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.booking--details .time--wrapper {
	/* background-color: whitesmoke; */
	padding: 10px 15px;
	border-radius: 10px;
	box-shadow: 0 10px 10px whitesmoke;
	border: solid 2px whitesmoke;
	text-align: center;
}

.booking--details .time--wrapper:nth-child(2) {
	margin: 0 40px;
}
